/* reset style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* end reset style */

/* commom style */

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #5F6368;
  text-decoration: none;
}

/*  end commom style */

.container {
  max-width: 992px;
  margin: 0 auto;
}

/* header style */

#header-container {
  height: 100px;
  padding: 0 30px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.5);
}

#header-container a {
  color: #5F6368;
}

#header-container #header-top {
  height: 56px;
}

#header-container #header-top h1 {
  margin: 10px 0 0 10px;
  float: left;
  font-size: 22px;
}

#header-container #header-top img {
  margin-top: 12px;
  float: left;
}

#header-container #header-bottom {
  height: 44px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  padding-top: 10px;
}

#header-container #header-bottom ul li {
  height: 100%;
  margin-right: 30px;
  list-style-type: none;
  display: inline-block;
}

#header-container .underline {
  border-bottom: 4px solid #3367D6;
}

#header-container .menu-active {
  color: #3367D6;
}

/* end header style */

/* main style */

main {
  padding-top: 100px;
}

h2 {
  color: #3C4043;
}

p {
  color: #212121;
  font-size: 14px;
}

p a {
  color: #3367D6;
}

p a:visited {
  color: #3367D6;
}

/* end main style */

/* footer styles */

footer {
  background-color: #f5f5f5;
  height: 45px;
}

#footer-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/* end footer style */

