/* reset style */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* end reset style */

/* commom style */

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: #3367D6;
  text-decoration: none;
}

a:visited {
  color: #3367D6;
}

/*  end commom style */

/* header style */

/* end header style */

/* main style */

.container {
  max-width: 992px;
  margin: 0 auto;
}

h2 {
  color: #3C4043;
}

p {
  color: #212121;
  font-size: 14px;
}

/* end main style */

/* footer styles */

#footer-bar {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

/* end footer style */

