/* main style */
.container {
    max-width: 992px;
    margin: 0 auto;
    padding-top: 100px;
}

h2 {
    color: $title_color;
}

p {
    color: $text_color;
    font-size: 14px;

    a {
        color: $text_link_color;
    }
}
/* end main style */