/* main style */
main {
    padding-top: 130px;
}

h2 {
    margin-top: 60px;
    color: $title_color;
}

p {
    color: $text_color;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 24px;

    a {
        color: $text_link_color;

        &:visited {
            color: $text_link_color;
        }
    }
}
/* end main style */